/* Override theme's userphoto class */
.forum-userphoto img {
  margin: 0;	
}

/* Forum Plugin specific CSS */
.codeblock  {
  background-color:#ECE9D8;
  color:#000;
  width: 550px;
  height: 160px;
  overflow: auto;
  min-height: 50px;
  max-height: 120px;
  margin: 5px 0px 5px 5px;
  padding:5px;
  border: 1px dashed black;
}
.quotemain {
  background:#FAFCFE url('../../image_set/img_quote.png') no-repeat top right;
  border: 1px dotted #000;
  border-left: 4px solid #8394B2;
  color:#465584;
  padding: 4px;
  margin: 5px auto 8px auto;
}

/* CSS Declarations for Code block feature - default will use the .php one */
div .php { max-height:400px; overflow:auto; height:auto; width:auto; min-height:100px; }
div .html { height:300px; overflow:auto; width:auto; min-height:100px; }
div .css { height:300px; overflow:auto; width:auto; min-height:100px; }

/* using same styling as uk-link-muted but with custom class since links do not show up well in uikit panels which is used for forum posts */
.gl-forum-post-link a {
    color: #444;
    font-weight: bold;
}

/* END of Forum Plugin CSS */